<!-- Navbar  -->
<div
  class="fixed z-50 max-w-8xl w-full right-0 left-1/2 -translate-x-1/2 flex justify-between h-20 items-center font-medium px-4"
>
  <div>
    <h1>Into The Unknown</h1>
  </div>

  <ul class="flex gap-4">
    <li>
      <a href="/"> Hero 1 </a>
    </li>
    <li>
      <a href="/"> Hero 2 </a>
    </li>
    <li>
      <a href="/"> Hero 3 </a>
    </li>
    <li>
      <a href="/">Hero 4</a>
    </li>
  </ul>
</div>

<!-- Text Scroll Down Left -->

<div class="fixed z-50 top-1/2 lg:left-10 -rotate-90 text-lg font-light">
  <p>Scroll Down</p>
</div>

<div class="fixed z-50 top-1/2 right-0 lg:right-10 -rotate-90 text-lg font-light">
  <p>Scroll Down</p>
</div>

<!-- Social Media -->

<div
  class="fixed z-50 max-w-8xl bottom-0 w-full right-0 left-1/2 -translate-x-1/2 flex justify-between h-20 items-center font-medium px-4"
>
  <ul class="flex gap-8">
    <li>
      <a href="/">
        <i class="ri-instagram-line ri-xl"></i>
      </a>
    </li>
    <li>
      <a href="/">
        <i class="ri-threads-line ri-xl"></i>
      </a>
    </li>
    <li>
      <a href="/"> <i class="ri-facebook-fill ri-xl"></i> </a>
    </li>
    <li>
      <a href="/"><i class="ri-reddit-line ri-xl"></i></a>
    </li>
  </ul>

  <div>
    <a href="/" class="border-b">Contactar</a>
  </div>
</div>
