---
import ContainerSection from "./ContainerSection.astro";

import ImageSection3 from "/public/Image-6.png";
import ImageEarthAndOnePerson from "/public/Image-7.png";
---

<ContainerSection>
  <img
    src={ImageSection3.src}
    alt="hola"
    loading="eager"
    class="section_image_bg w-full h-full object-cover -z-10 absolute"
  />

  <section
    class="section_3_text max-w-8xl grid grid-cols-2 pt-20 mx-auto h-full z-50"
  >
    <div class="flex flex-col justify-start pt-40 gap-2 relative">
      <span> Get</span>

      <h2 class="section_3_title text-8xl font-bold">
        Explore the <br />unfamiliar
      </h2>
    </div>

    <div
      class="flex flex-col gap-2 items-end justify-end pb-65 pr-10 text-left"
    >
      <p>
        Step boldly forward, <br />
        explore hidden paths.
      </p>

      <p>
        Mysteries unfold, bringing insight, <br />
        sparking curiosity and wonder.
      </p>

      <div class="mt-2">
        <a href="/" class="border-b">Discover More</a>
      </div>
    </div>
  </section>

  <img
    src={ImageEarthAndOnePerson.src}
    alt="Image Earth With People"
    class="section_3_one_people absolute bottom-0 w-full object-cover -z-10"
  />
</ContainerSection>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  const tl_section_3 = gsap.timeline({
    scrollTrigger: {
      trigger: "#container-sections",
      start: "top 60%",
      end: "bottom top",
      // toggleActions: "onEnter onLeave onEnterBack onLeaveBack"
      // play: Arranca la animación
      // pause: Si sales de la sección, se pausa (ahorra recursos)
      // resume: Si vuelves a entrar, sigue donde iba
      // pause: Si te vas para arriba, se pausa de nuevo
      toggleActions: "play pause resume pause",
    },
  });

  // --- Animaciones de ENTRADA ---

  tl_section_3.from(
    ".section_3_title, .section_3_one_people, .section_3_text",
    {
      y: "100%",
      duration: 1.2,
      ease: "power1.inOut",
    }
  );
</script>
